{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Ekstraklasa {% endblock %}
      <style>
      {% block style %}


      .text-align-center{
  text-align: center;
  padding-top: 10px;
}


      {% endblock %}
      </style>



  <body>





   {% block jumbotron_content %}
 
<div class="container ">



     <div class=".col-md-offset-4 .col-md-4 .col-md-offset-4">


<h3 class="text-align-center">Ekstraklasa 2015/2016</h3>



<div class="row">

 <div class="col-sm-3">
<a href="../pogon">
 <img src= "{% static 'img/pogon_herb.png' %}" class="img-responsive" alt="" width="100" height="100"> 
 </a>
</div>  


 <div class="col-sm-3">
<a href="../legia">
 <img src= "{% static 'img/legia_herb.jpg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>  



 <div class="col-sm-3">
<a href="../lech">
 <img src= "{% static 'img/lech_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>  




 <div class="col-sm-3">
<a href="../lechia">
 <img src= "{% static 'img/lechia_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>  

 <div class="col-sm-3">
<a href="../slask">
 <img src= "{% static 'img/slask_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>  

 <div class="col-sm-3">
<a href="../jagiellonia">
 <img src= "{% static 'img/jagiellonia_herb.jpg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>   


 <div class="col-sm-3">
<a href="../wisla">
 <img src= "{% static 'img/wisla_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>   


 <div class="col-sm-3">
<a href="../cracovia">
 <img src= "{% static 'img/cracovia_herb.jpg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>   


 <div class="col-sm-3">
<a href="../gornik_zabrze">
 <img src= "{% static 'img/gornik_zabrze_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>   


 <div class="col-sm-3">
<a href="../gornik_leczna">
 <img src= "{% static 'img/gornik_leczna_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div> 

 <div class="col-sm-3">
<a href="../podbeskidzie">
 <img src= "{% static 'img/podbeskidzie_herb.jpg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div> 

 <div class="col-sm-3">
<a href="../zaglebie">
 <img src= "{% static 'img/zaglebie_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>

 <div class="col-sm-3">
<a href="../korona">
 <img src= "{% static 'img/korona_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>


 <div class="col-sm-3">
<a href="../termalika">
 <img src= "{% static 'img/termalika_herb.jpg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>


 <div class="col-sm-3">
<a href="../ruch">
 <img src= "{% static 'img/ruch_herb.png' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>


 <div class="col-sm-3">
<a href="../piast">
 <img src= "{% static 'img/piast_herb.jpeg' %}" class="img-responsive" alt="" width="100" height="250"> 
 </a>
</div>

</div>
</div>
</div>
</body>

     {% endblock %}
