{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Ekstraklasa {% endblock %}
      <style>
      {% block style %}


      .text-align-center{
  text-align: center;
  padding-top: 10px;
}


      {% endblock %}
      </style>

 {% block jumbotron_content %}






  <body>





  
 
<div class="container ">



     <div class=".col-md-offset-4 .col-md-4 .col-md-offset-4">


<h3 class="text-align-center">Ekstraklasa 2015/2016</h3>



</div>

<div class="row">

 <div class="col-sm-3">
<a href="../detail_club/1/">
 <img src= "{% static 'img/pogon.png' %}" class="img-responsive" alt=""> 
 </a>
</div>  


 <div class="col-sm-3">
 <img src= "{% static 'img/legia.png' %}" class="img-responsive" alt=""> 
 </a>
</div>  



 <div class="col-sm-3">
 <img src= "{% static 'img/lech.png' %}" class="img-responsive" alt=""> 
 </a>
</div>  




 <div class="col-sm-3">
 <img src= "{% static 'img/lechia.png' %}" class="img-responsive" alt=""> 
 </a>
</div>  

</div>
<div class="row">


 <div class="col-sm-3">
 <img src= "{% static 'img/slask.png' %}" class="img-responsive" alt=""> 
 </a>
</div>  

 <div class="col-sm-3">
 <img src= "{% static 'img/jagiellonia.png' %}" class="img-responsive" alt=""> 
 </a>
</div>   


 <div class="col-sm-3">
 <img src= "{% static 'img/wisla.png' %}" class="img-responsive" alt="" > 
 </a>
</div>   


 <div class="col-sm-3">
 <img src= "{% static 'img/cracovia.png' %}" class="img-responsive" alt=""> 
 </a>
</div>   

</div>
<div class="row">


 <div class="col-sm-3">
 <img src= "{% static 'img/gornik_zabrze1.png' %}" class="img-responsive" alt=""> 
 </a>
</div>   


 <div class="col-sm-3">
 <img src= "{% static 'img/gornik_leczna.png' %}" class="img-responsive" alt=""> 
 </a>
</div> 

 <div class="col-sm-3">
 <img src= "{% static 'img/podbeskidzie.png' %}" class="img-responsive" alt=""> 
 </a>
</div> 

 <div class="col-sm-3">
 <img src= "{% static 'img/zaglebie.png' %}" class="img-responsive" alt=""> 
 </a>
</div>
</div>

<div class="row">

 <div class="col-sm-3">
 <img src= "{% static 'img/korona.png' %}" class="img-responsive" alt=""> 
 </a>
</div>


 <div class="col-sm-3">
 <img src= "{% static 'img/termalica.png' %}" class="img-responsive" alt=""> 
 </a>
</div>


 <div class="col-sm-3">
 <img src= "{% static 'img/ruch.png' %}" class="img-responsive" alt=""> 
 </a>
</div>


 <div class="col-sm-3">
 <img src= "{% static 'img/piast.png' %}" class="img-responsive" alt="" width="300" height="300"> 
 </a>
</div>

</div>
</div>
</body>


     {% endblock %}
