{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Ekstraklasa {% endblock %}
      <style>
      {% block style %}


      .text-align-center{
  text-align: center;
  padding-top: 10px;
}


      {% endblock %}
      </style>



  <body>





   {% block jumbotron_content %}
 
<div class="container ">

 {% if querysets %}
 {% for instance in  querysets %}
<h3> <strong> {{ querysets.widownia__sum }} </strong></h3>

</div>



 {% endfor %}{% endif %}


<!--
<a href="../pogon/" type="button" class="btn btn-primary btn-lg ">Pogon Szczecin</a>
<a href="../legia/" type="button" class="btn btn-primary btn-lg ">Legia Warszawa</a>
<a href="../lech/" type="button" class="btn btn-primary btn-lg ">Lech Poznań</a>
<a href="../lechia/" type="button" class="btn btn-primary btn-lg ">Lechia Gdańsk</a>
<a href="../slask/" type="button" class="btn btn-primary btn-lg ">Śląsk Wrocław</a>
<a href="../jagiellonia/" type="button" class="btn btn-primary btn-lg ">Jagiellonia Białystok</a>
<a href="../wisla/" type="button" class="btn btn-primary btn-lg ">Wisła Kraków</a>
<a href="../cracovia/" type="button" class="btn btn-primary btn-lg ">Cracovia Kraków</a>
<a href="../gornik_zabrze/" type="button" class="btn btn-primary btn-lg ">Górnik Zabrze</a>
<a href="../gornik_leczna/" type="button" class="btn btn-primary btn-lg ">Górnik Łęczna</a>
<a href="../podbeskidzie/" type="button" class="btn btn-primary btn-lg ">Podbeskidzie Bielsko-Biała</a>
<a href="../zaglebie/" type="button" class="btn btn-primary btn-lg ">Zagłebie Lubin</a>
<a href="../piast/" type="button" class="btn btn-primary btn-lg ">Piast Gliwice</a>
<a href="../ruch/" type="button" class="btn btn-primary btn-lg ">Ruch Chorzów</a>
<a href="../termalika/" type="button" class="btn btn-primary btn-lg ">Termalika Nieciecza</a>
<a href="../korona/" type="button" class="btn btn-primary btn-lg ">Korona Kielce</a> -->

</body>

        {% endblock %}




