{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Ekstraklasa {% endblock %}
      <style>
      {% block style %}


      .text-align-center{
  text-align: center;
  padding-top: 10px;
}


      {% endblock %}
      </style>



  <body>






   {% block jumbotron_content %}
 

<div class="container ">
<div class="jumbotron">


<h1 class="text-align-center" style="margin-bottom: 50px;">Frekwencja</h1>


<table class="table table-striped">
        <tr>
    <td>Drużyna</td>
    <td>Średnia</td>
    <td>największa</td>
    <td>najmniejsza</td>
    <td>łaczna</td>
  </tr>


{% if klub_pogon %}
{% for instance in klub_pogon %}
<tr><td>
{{ instance.Nazwa }}
</td>
{% endfor %}
{% endif %}


{% if pogon %}
<td>
{{ pogon.widownia__avg }}
</td>
{% endif %}

{% if pogon_max %}
<td>
{{ pogon_max.widownia__max }}
</td>
{% endif %}

{% if pogon_min %}
<td>
{{ pogon_min.widownia__min }}
</td>
{% endif %}

{% if pogon_sum %}
<td>
{{ pogon_sum.widownia__sum }}
</td>
{% endif %}




{% if klub_legia %}
{% for instance in klub_legia %}
<tr><td>
{{ instance.Nazwa }}
</td>
{% endfor %}
{% endif %}



{% if legia %}
<td>
{{ legia.widownia__avg }}
</td>
{% endif %}

{% if legia_max %}
<td>
{{ legia_max.widownia__max }}
</td>
{% endif %}

{% if legia_min %}
<td>
{{ legia_min.widownia__min }}
</td>
{% endif %}

{% if legia_sum %}
<td>
{{ legia_sum.widownia__sum }}
</td>
{% endif %}








{% if klub_lech %}
{% for instance in klub_lech %}
<tr><td>
{{ instance.Nazwa }}
</td>
{% endfor %}
{% endif %}



{% if lech %}
<td>
{{ lech.widownia__avg }}
</td>
{% endif %}

{% if lech_max %}
<td>
{{ lech_max.widownia__max }}
</td>
{% endif %}

{% if lech_min %}
<td>
{{ lech_min.widownia__min }}
</td>
{% endif %}

{% if lech_sum %}
<td>
{{ lech_sum.widownia__sum }}
</td>
{% endif %}








{% if klub_lechia %}
{% for instance in klub_lechia %}
<tr><td>
{{ instance.Nazwa }}
</td>
{% endfor %}
{% endif %}



{% if lechia %}
<td>
{{ lechia.widownia__avg }}
</td>
{% endif %}

{% if lechia_max %}
<td>
{{ lechia_max.widownia__max }}
</td>
{% endif %}

{% if lechia_min %}
<td>
{{ lechia_min.widownia__min }}
</td>
{% endif %}

{% if lechia_sum %}
<td>
{{ lechia_sum.widownia__sum }}
</td>
{% endif %}













 {% if queryset %}
 {% endif %}





</div>


<!--
<a href="../pogon/" type="button" class="btn btn-primary btn-lg ">Pogon Szczecin</a>
<a href="../legia/" type="button" class="btn btn-primary btn-lg ">Legia Warszawa</a>
<a href="../lech/" type="button" class="btn btn-primary btn-lg ">Lech Poznań</a>
<a href="../lechia/" type="button" class="btn btn-primary btn-lg ">Lechia Gdańsk</a>
<a href="../slask/" type="button" class="btn btn-primary btn-lg ">Śląsk Wrocław</a>
<a href="../jagiellonia/" type="button" class="btn btn-primary btn-lg ">Jagiellonia Białystok</a>
<a href="../wisla/" type="button" class="btn btn-primary btn-lg ">Wisła Kraków</a>
<a href="../cracovia/" type="button" class="btn btn-primary btn-lg ">Cracovia Kraków</a>
<a href="../gornik_zabrze/" type="button" class="btn btn-primary btn-lg ">Górnik Zabrze</a>
<a href="../gornik_leczna/" type="button" class="btn btn-primary btn-lg ">Górnik Łęczna</a>
<a href="../podbeskidzie/" type="button" class="btn btn-primary btn-lg ">Podbeskidzie Bielsko-Biała</a>
<a href="../zaglebie/" type="button" class="btn btn-primary btn-lg ">Zagłebie Lubin</a>
<a href="../piast/" type="button" class="btn btn-primary btn-lg ">Piast Gliwice</a>
<a href="../ruch/" type="button" class="btn btn-primary btn-lg ">Ruch Chorzów</a>
<a href="../termalika/" type="button" class="btn btn-primary btn-lg ">Termalika Nieciecza</a>
<a href="../korona/" type="button" class="btn btn-primary btn-lg ">Korona Kielce</a> -->

</body>

        {% endblock %}




