{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<head>
{% block jumbotron_content %}

 {% if queryset %}
 {% for instance in  queryset %}

<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer",
  {
    title:{
      text: "Statystyki",
      verticalAlign: 'top',
      horizontalAlign: 'left'
    },
                animationEnabled: true,
    data: [
    {        
      type: "doughnut",
      startAngle:20,
      toolTipContent: "{label}: {y} - <strong>#percent%</strong>",
      indexLabel: "{label} #percent% ",
      dataPoints: [
        {  y: {{ instance.zwyciestwa }}, label: "zwycięstwa" },
        {  y: {{ instance.remisy }}, label: "remisy" },
        {  y: {{ instance.porazki }}, label: "porażki" },
      
      ]
    }
    ]
  });
  chart.render();
   var chart1 = new CanvasJS.Chart("gole_zdobyte",
  {
    title:{
      text: "Zdobyte gole",
      verticalAlign: 'top',
      horizontalAlign: 'left'
    },
                animationEnabled: true,
    data: [
    {        
      type: "doughnut",
      startAngle:20,
      toolTipContent: "{label}: {y} - <strong>#percent%</strong>",
      indexLabel: "{label}: {y}",
      dataPoints: [
        {  y: {{instance.get_gole_home}}, label: "gole dom" },
        {  y: {{instance.get_gole_away}}, label: "gole wyjazd" },
      
      ]
    }
    ]
  });
  chart1.render();

   var chart2 = new CanvasJS.Chart("gole_stracone",
  {
    title:{
      text: "Stracone gole",
      verticalAlign: 'top',
      horizontalAlign: 'left'
    },
                animationEnabled: true,
    data: [
    {        
      type: "doughnut",
      startAngle:20,
      toolTipContent: "{label}: {y} - <strong>#percent%</strong>",
      indexLabel: "{label}: {y}",
      dataPoints: [
        {  y: {{instance.lost_gole_home}}, label: "stracone gole dom" },
        {  y: {{instance.lost_gole_away}}, label: "stracone gole wyjazd" },
      
      ]
    }
    ]
  });
  chart2.render();
}
</script>


  <script type="text/javascript" src="{% static 'js/canvasjs.min.js' %}">
  </script>
<script src=https://code.jquery.com/jquery-2.2.4.min.js></script>
</head>

      <style>
      {% block style %}


      .text-align-center{
  text-align: center;
  padding-top: 10px;
}


      {% endblock %}
      </style>


  <body>

   <title>Korona Kielce</title>

<div class="container ">
<div class="jumbotron">


 <div class="row">     
<div class="col-md-3">


 <img src= "{% static 'img/korona.png' %}" class="img-responsive" alt="" width="200" height="250"> 
</div>



 <div class="row">     
<div class="col-md-6">
<div class="text-align-center">
<h2><strong>SCYZORY</strong></h2>
<h3><strong> {{ instance.Nazwa }}</strong></h3>
<h3> Data założenia:<strong>{{ instance.data_powstania }}</strong></h3>
<h3> Barwy:<strong> Żółto Czerwone</strong></h3>
<h3>strona oficjalna:<strong> <a href="http://www.korona-kielce.pl">Korona Kielce</a></strong></h3>
 {% endfor %}{% endif %}
 
  {% if stadion %}
 {% for instance in  stadion %}
<h3>Stadion: <strong> {{ instance.nazwa }}</strong></h3>
<h3>Pojemność: <strong> {{ instance.pojemnosc }}</strong></h3>
 {% endfor %}{% endif %}


   {% if trener %}
 {% for instance in  trener %}
<h3>Trener: <strong> {{ instance.imie }} {{ instance.nazwisko }}</strong></h3>
</div>


</div>
</div>
</div>

 {% endfor %}{% endif %}


<h2 class="text-align-center" style="margin-bottom: 50px;">Lista zawodników</h2>
      {% if ziomset %}
<table class="table table-striped">
        <tr>
    <td>Nr Zawodnika</td>
    <td>Imie</td>
    <td>Nazwisko</td>
    <td>Data Urodzenia</td>
    <td>Pozycja</td>
    <td>gole</td>
  </tr>

        {% for instance in  ziomset %}

       <tr><td>{{ instance.nr_zawodnika }}</td><td>{{ instance.imie }}</td><td>{{ instance.nazwisko }}</td><td>{{ instance.data_urodzenia }}</td>
       <td>{{ instance.pozycja }}</td><td>{{instance.get_total_gole}}</td></tr>

        {% endfor %}
        </table>
{% endif %}
          
<div id="chartContainer" style="height: 300px; width: 100%;margin-top: 50px;"></div>
<div id="gole_zdobyte" style="height: 300px; width: 100%;margin-top: 50px;"></div>
<div id="gole_stracone" style="height: 300px; width: 100%;margin-top: 50px;"></div>

</div>
</div>

{% endblock %}

</body>
