{% extends "base_two_columns.html" %}

{% load i18n %}


{% block sidebar %}
<div class="filters">
	<h6>{% trans "Filtruj wg gatunku" %}</h6>
	<div class="list-group">
		<a class="list-group-item{% if not facets.selected.genre %} active{% endif %}"
		href="{% append_to_query genre="" page="" %}">{% trans "Wszystkie" %}</a>

	{% for cat in facets.categories.genres %}
		<a class="list-group-item{% if facets.selected.genre == cat %} active{% endif %}"
		href="{% append_to_query genre=cat.pk page="" %}">{{ cat}}</a>
		{% endfor %}
		</div>

	<h6>{% trans "Filtruj wg rezysera" %}</h6>
	<div class="list-group">
	<a class="list-group-item{% if not facets.selected.director%} active{% endif %}"
		href="{% append_to_query director="" page="" %}">{% trans "Wszystkie" %}</a>

	{% for cat in facets.categories.directors %}
		<a class="list-group-item{% if facets.selected.director == cat %} active{% endif %}"
		href="{% append_to_query director=cat.pk page="" %}">{{ cat}}</a>
		{% endfor %}
		</div>



	<h6>{% trans "Filtruj wg aktora" %}</h6>
	<div class="list-group">
	<a class="list-group-item{% if not facets.selected.actor%} active{% endif %}"
		href="{% append_to_query actor="" page="" %}">{% trans "Wszystkie" %}</a>

	{% for cat in facets.categories.actors %}
		<a class="list-group-item{% if facets.selected.actor == cat %} active{% endif %}"
		href="{% append_to_query actor=cat.pk page="" %}">{{ cat}}</a>
		{% endfor %}
		</div>


		<h6>{% trans "Filtruj wg oceny" %}</h6>
	<div class="list-group">
	<a class="list-group-item{% if not facets.selected.rating%} active{% endif %}"
		href="{% append_to_query rating="" page="" %}">{% trans "Wszystkie" %}</a>

	{% for r_val, r_display  in facets.categories.ratings %}
		<a class="list-group-item{% if facets.selected.rating.0 == r_val %} active{% endif %}"
		href="{% append_to_query rating=r_val page="" %}">{{ r_display}}</a>
		{% endfor %}
		</div>
	</div>

	{% endblock %}

	{% block content %}
	<div class="movie_list">
	{% for move in object_list %}
	<div class="movie">
	<h3>{{ movie.title }}</h3>
	</div>
	{% endfor %}

	</div>

	{% endblock %}