 {% load crispy_forms_tags %}
{% load staticfiles %}


 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "list" %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="{% url "tabela" %}">Tabela</a></li>
            <li><a class="navbar-brand" href="{% url "druzyny" %}">Drużyny</a></li>
            <li><a class="navbar-brand" href="{% url "tabela_strzelcow" %}">Strzelcy</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="{% url "home" %}">Widownia</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


   <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" style="text-align: center;background-color: white;">
    
                 <!-- Image Header -->
        <div class="row">
            <div class="col-lg-offset-4 .col-lg-8">
                <img class="img-responsive" src= "{% static 'img/ekstraklasa.png' %}" alt="">
            </div>
        </div>
        <!-- /.row -->

      </div>

   </div> <!-- /container -->