{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}



      <style>
      {% block style %}



      .text-align-center{
  text-align: center;
  color: black;
  padding-bottom: 10px;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 400px;
      margin: auto;

  }
h1 { text-align: center;
      padding-top: 20px;
        {% endblock %}
      </style>  




<body>
 {% block jumbotron_content %}

<div class="col-sm-12">
<div class="margins" style=" margin-bottom: 200px;">
<h1> <title>Ekstraklasa</title> </h1>



<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/mistrz.png' %}" alt="" width="2000" height="500">
                <div class="carousel-caption">
                    <h2>Mistrz Polski</h2>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/vice.png' %}" alt="" width="2000" height="500">
                <div class="carousel-caption">
                    <h2>Vice mistrz</h2>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/3cie.png' %}" alt="" width="2000  " height="345">
                <div class="carousel-caption">
                    <h2>3cia drużyna </h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


   <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

  {% include 'js.html' %}
</div>


<div class="col-sm-12 col-sm-offset-3">

{% for obj in object_list %}
<div class="margin" style=" margin-bottom: 70px;">
 <div class="row">

 {% if  request.user.is_staff %}




<div class="col-sm-1 col-sm-offset-0">
<div class="list-group">
  <a class="list-group-item" href="{% url "detail" id=obj.id %}delete"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Delete</a>
  <a class="list-group-item" href="{% url "detail" id=obj.id %}edit"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Edit</a>
</div>
</div>


{% endif %}


            <div class="col-md-5">
                <a href="{% url "detail" id=obj.id %}">
                       {% if obj.image %}
                    <img class="img-responsive img-hover" src="{{ obj.image.url }}" alt="">
                </a>
            </div>
            {% endif %}
            <div class="col-md-6">
            
                 <h3><a href="{% url "detail" id=obj.id %}">{{ obj.title }}</a><br> <small>{{ obj.publish }}</small></h3>
                <a class="btn btn-primary" href="{% url "detail" id=obj.id %}">Więcej <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

   

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


</div>
{% endblock jumbotron_content %}
</body>