{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %} Ekstraklasa {% endblock %}
      <style>
      {% block style %}{% endblock %}
      </style>


  <body>
 {% block jumbotron_content %}

  <div class="container ">
<div class="jumbotron">

<table class="table table-striped">
 <thead class="thead-inverse">
    <tr>
      <th>Numer</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>gole</th>
    </tr>
  </thead>

<h3>Gole</h3>
{% for instance in infos %}
<tr><td>{{ forloop.counter }}</td><td>  {{instance.imie}}</td><td> {{instance.nazwisko}}</td><td> {{instance.get_total_gole}}</td></tr>
{% endfor %}
 </table>


 <table class="table table-striped">
 <thead class="thead-inverse">
    <tr>
      <th>Numer</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>asysty</th>
    </tr>
  </thead>
  
<h3>Asysty</h3>
{% for instance in infos %}
<tr><td>{{ forloop.counter }}</td><td>{{instance.imie}}</td><td>{{instance.nazwisko}}</td><td>  {{instance.get_total_asysty}}</td></tr>
{% endfor %}
</table>


</div>
</div>
  <body>

{% endblock %}


 
